<script>
    import {
            invert,
            randomAudio,
            randomColor,
            randomHour,
            randomPeriod,
            randomWord,
            START_COLOR,
            END_COLOR,
            LAST_WORD,
            END_WORD,
            SQUARE_LENGTH,
            TOTAL_LENGTH,
        } from './inputs.js'
    export let textmode = false;

    let player;
    let started = false, changeCount = 0, fin = false;
    let color = START_COLOR, textColor = invert(START_COLOR), text = "", audio = "", hour = "", nextColors = randomColor(START_COLOR), displaySquare = false;
    let timeouts = [];

    const cycle = (textFunction, loop) => {
        color = nextColors.color;
        textColor = nextColors.textColor;
        text = textFunction();
        hour = randomHour();
        started = true;
        displaySquare = false;
        if (changeCount % 4 == 0) {
            audio = randomAudio();
            setTimeout(() => player.play(), 50);
        }
        changeCount += 1;
        if (loop) {
            nextColors = randomColor(color);
            const period = randomPeriod();
            timeouts.push(setTimeout(() => displaySquare = true, 1000 * (period - SQUARE_LENGTH)));
            timeouts.push(setTimeout(() => cycle(textFunction, true), 1000 * period));
        }
    };

    const endend = () => {
        player.pause();
        color = END_COLOR;
        textColor = invert(END_COLOR);
        hour = "";
        text = END_WORD;
        fin = true;
    };

    const end = () => {
        timeouts.forEach(timeout => clearTimeout(timeout));
        cycle(() => LAST_WORD, false);
        setTimeout(endend, 1000 * randomPeriod());
    };

    const start = () => {
        setTimeout(end, 1000 * TOTAL_LENGTH);
        cycle(randomWord, true);
    };
</script>

<main style:background-color={color}>
    {#if !started}
        <p style:color={textColor}>appuyez sur Start pour commencer</p>
        <button
                on:click={start}
                style:color={color}
                style:background-color={textColor}
                >
                Start
        </button>
    {:else if !fin}
        {#if textmode}
            <h1 style:color={textColor}>{text}</h1>
        {:else}
            <img
                    src={`image/${textColor.slice(1)}/${text}.png`}
                    alt={text}
                    style:color={textColor}
                    style:fill={textColor}
                    />
        {/if}
        <h2 style:color={textColor}>{hour}</h2>
        <audio bind:this={player} src={audio} />
        {#if displaySquare}
            <div class="square" style:background-color={nextColors.color} />
        {/if}
    {:else}
        <h1 style:color={textColor}>{END_WORD}</h1>
        <h3 style:color={textColor}>codé par ppom</h3>
    {/if}
</main>

<style>
    main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 10vh;
    }
    img {
        font-size: 16vh;
        font-weight: bold;
        height: 40vh;
    }
    h2 {
        margin: 0;
        font-size: 13vh;
        margin-right: 20vw;
    }
    h3 {
        font-size: 4vh;
        width: 100vw;
        position: absolute;
        text-align: center;
        left: 0;
        bottom: 1vw;
    }
    p {
        font-size: 6vh;
    }
    button {
        border: none;
        font-size: 10vh;
    }
    .square {
        width: 10vw;
        height: 10vw;
        position: absolute;
        top: 1vw;
        left: 45vw;
    }
</style>
