<script>
  import { invert, AUDIOS, COLORS, LENGTHES, WORDS, START_COLOR, END_COLOR, LAST_WORD, END_WORD } from './inputs.js'
</script>

<main
    style:background-color={START_COLOR}
    style:color={invert(START_COLOR)}
    >

    <h2>Mots</h2>

    {#each WORDS as word}
      <p class="short">{word}</p>
    {/each}

    <h2>Dernier mot</h2>
    <p class="short">{LAST_WORD}</p>

    <h2>Mot de la fin</h2>
    <p class="short">{END_WORD}</p>

    <h2>Temps</h2>
    <i>en secondes</i>

    {#each LENGTHES as length}
      <p class="short">{length}</p>
    {/each}

    <h2>Couleurs</h2>

    {#each COLORS as color}
      <div
          style:background-color={color}
          style:color={invert(color)}
          >
          <p>{color}</p>
      </div>
    {/each}

    <h2>Couleur de fin</h2>
    <div
        style:background-color={END_COLOR}
        style:color={invert(END_COLOR)}
        >
        <p>{END_COLOR}</p>
    </div>

    <h2>Sons</h2>

    {#each AUDIOS as audio}
      <p>{audio.slice(6, -4).replaceAll('.', ' ')}</p>
      <audio controls src={audio} />
    {/each}

</main>

<style>
  main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 5vh;
  }
  div {
    display: flex;
    justify-content: center;
    padding: 0 4vh;
    width: 25vh;
  }
  .short {
    margin-bottom: 0;
  }
</style>
